.Login-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 15%;
  width: 100%;
}

input {
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(84, 87, 82);
  height: 35px;
  margin: 2%;
}

img {
  margin-bottom: 2%;
}

p {
  font-size: 24px;
}

button {
  background: rgb(77, 128, 48);
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(87, 83, 82);
  height: 30px;
  margin-top: 1%;
  width: 60px;
}
