.Form {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.Form-input , .Form-select {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(84, 87, 82);
  height: 35px;
  margin: 20px;
}

.Form-button {
  background: rgb(77, 128, 48);
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(87, 83, 82);
  height: 30px;
  margin-top: 1%;

  /* width: 60px; */
}
